@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Anton', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 200px;
}

.Logo{
    text-decoration: none;
    color: rgb(70, 24, 24);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    text-decoration: none;
    color:rgb(70, 24, 24);
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 15px;
}

.navigation :hover{
    color: #601cfc;
}

section {
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(images/Services\ —\ Lynn\ Carroll\,\ Career\ Coach\ -\ Job\ search\ advice\,\ resume\ guidance\,\ and\ salary\ negotiation\ tips.jfif) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: rgb(49, 18, 18);
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: top 10px; 
    margin-bottom: 30px;
}

.main-btn{
   color: #fff;
   background-color: rgb(49, 18, 18);
   text-decoration: none;
   font-size: 1.1em;
   display: inline-block;
   padding: 0.9375em 2.1875em;
   letter-spacing: 1px;
   border-radius: 15px;
   margin-bottom: 40px;
   transition: 0.7s ease;
}

.main-btn:hover{
   background-color: rgb(27, 5, 5);
   transform: scale(1.1);
}

.Social-icons a{
   color: #fff;
   font-size: 2em;
   padding-right: 20px;
   text-decoration: none;
   transition: 0.7s ;
   margin-left: 19px;
}

.Social-icons a:hover{
    color: rgb(27, 5, 5);
    transform: scale(1.8);
}
.title{
    display: flex;
    justify-content: center;
    color: rgb(70, 24, 24);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 65%);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover{
    color: rgb(27, 5, 5);
    transform: scale(1.1);
}

.icon {
    color: rgb(70, 24, 24) ;
    font-size: 8em;
    text-align: center;
}

.Info {
    text-align: center;
}

.Info h3{
    color: rgb(70, 24, 24);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.Projects {
    background-color: rgb(70, 24, 24);    
}

.Projects .content{
    margin-top: 30px;
}

.Project-card{
    background-color: #fff;
    border:1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden ;
    border-radius: 10px;
    margin: 20px;
    transition: 0.4s ease;
}

.Project-card:hover{
    transform: scale(1.1);
}

.Project-card:hover .Project-image{
    opacity: 0.9;
}


.Project-image img{
     width: 100%;
}

.Project-info{
    padding: 1em;
}

.Project-category{
    font-size: 0.8em;
    color: #000;
}

.Project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
   /*text-decoration: none;*/
    color: rgb(49, 18, 18);
    transition: 0.5s ease;
}

.more-details :hover{
    color: rgb(27, 5, 5);
    transform: scale(1.1);
}
.Project-titles{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    justify-content: center;
}

.Contact-way{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 65%);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    transition: 0.7s ease;
}

.Contact-way :hover{
    transform: scale(1.1);
}

.titles{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.card-Contact .icon{
    font-size: 4.5em;
}

.card-Contact .Info .h3 {
  color: #000;
}

.card-Contact .Info{
    font-size: 1.5em;
    padding: 10px;
}

.footer {
    background-color: rgb(49, 18, 18);
    color: #fff;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

.footer-title span{
    color: brown;
}

.footer .social-icon a{
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  margin-left: 10px;
}

@media (max-width:1023px){
    body{
        font-size: 13px;
    }
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
    .card{
        align-items: center;
    }
    
}